<div *ngIf="projects$ | async as projects">
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-9">
                <h2 class="align-middle">Projects</h2> 
              </div>
              <div class="col-3 text-right">
                  <app-user-create-project class="text-right" *ngIf="canCreate"></app-user-create-project>
              </div>
            </div>
                    
            
            
          </li>
          <li
            class="list-group-item"
            *ngFor="let project of projects"
            [routerLink]="['/' + project.id.replace('.', '/')]"
          >
            <h2 class="pb-3">{{ project.title }}</h2>
            <p>{{ project.description }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
