<p>it works</p>

<div *ngIf="(Pins$ | async) as Pins">
        <div class="container pt-4">
            <div class="row">
                <div class="col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="https://via.placeholder.com/200" class="card-img-top" >
                            <div class="card-body">
                                <h5 class="card-title">{{pin.title}}</h5>
                                <p class="card-text">{{pin.description}}</p>                                
                            </div>
                        </div>
                </div>
            </div>
        </div>
</div>
