<div class="container pt-5" >
    <div class="row pt-5">
        <div class="col-4"></div>
        <div class="col-4 pt-5" >
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center border rounded shadow">
                <div class="form-group mt-2">
                    <p class="text-primary">Sign In</p>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <input type="text" formControlName="username" placeholder="Username" class="form-control">
                    </div>                    
                </div>           
                <div class="form-group">
                    <div class="col-12">
                            <input type="password" formControlName="password" placeholder="Password" class="form-control">
                    </div>                   
                </div>                          
                <div class="form-group">                    
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button type="submit button" class="btn btn-primary rounded-pill text-white  w-100" >Login</button>
                        </div>
                        <div class="col-4 pr-5">
                            <a [routerLink]="['/register']" class="pr-5 text-left mt-5  align-bottom ">Register</a>
                        </div>
                    </div>                        
                </div>               
            </form>
        </div>
    </div>
</div>