<button
  type="button"
  class="btn btn-white rounded-circle text-right"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  New board +
</button>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="h4 text-center pt-3 pb-4">Create board</div>
        <form [formGroup]="createBoardForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Enter title"
              formControlName="title"
            />
            <div
              [hidden]="form.title.invalid || !form.title.pristine"
              class="alert alert-danger"
            >
              Title is required
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              formControlName="description"
            />
            <div
              [hidden]="form.description.invalid || !form.description.pristine"
              class="alert alert-danger"
            >
              Description is required
            </div>
          </div>
          <div class="form-group form-check text-left">
            <select formControlName="privacy">
              <option value="0">Public for all</option>
              <option value="1">Public for project Collaborators</option>
              <option value="2">Private for all</option>
            </select>
          </div>
          <button
            type="button"
            class="btn btn-secondary mr-2"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Create board</button>
        </form>
      </div>
    </div>
  </div>
</div>
