<button
  type="button"
  class="btn btn-dark rounded-circle text-right"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  +
</button>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Create new board
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
        [formGroup]="createBoardForm"
        (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter title"
              formControlName="title"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Description"
              formControlName="description"
            />
          </div>
          <hr width="100%" />
          <button
            type="button"
            class="btn btn-secondary mr-2"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Create board</button>
        </form>
      </div>
    </div>
  </div>
</div>
