<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-pin-head></app-pin-head>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-pin-img></app-pin-img>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <app-pin-comments-list></app-pin-comments-list>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-pin-creating-comment></app-pin-creating-comment>
                </div>
            </div>
        </div>
    </div>
</div>
