<div class="container">
  <div class="row">
    <div class="col-4"></div>
      <div class="col-4">
        <form class="" *ngForm>
          <p class="text-center">SignIn</p>
          <div class="form-group">    
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            <p routerLink='/counter' class="text-right">Sign Up</p>
          </div>
          <button type="submit" [routerLink]="['/user']" routerLinkActive="router-link-active"  class="btn btn-primary text-right">Submit</button>
        </form>
      </div>
    <div class="col-4"></div>
  </div>
</div>