.leftUp{
    height: 75vh;
}

.ticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999999;
}

#arrowTop::before {
    content: '▲';
  }

.text{
    size: 10ch;
}

.leftIntro{
    width: 70%;
}

.item{
    width: 250px;
    height: 250px;
    margin: 20px 0;

    border-radius: 10px;
}
