<app-nav></app-nav>

<!-- Home page things -->

<div class="container-fluid">
    <div class="row">
        <div class="col-6 leftUp bg-primary text-white text-center align-middle pt-5">  
            <div style="height: 100vh;" class="align-middle pt-5">
                <h1 @fade1500 class="pt-5">Welcome to the home page!</h1>
                <p @fade>Enjoy Art Area</p>
            </div>                 
        </div>
        <div class="col-6 leftUp text-center pt-5">
            <div class="pt-5">
                <h1 @fade1500 class="pt-5">Create your project<br/> right now.</h1>
                <p @fade class="pt-4">Join Art Area right now!</p>
                <a @fade2500 href="" class="btn btn-button bg-primary text-white" style="width: 30vh">Login</a><br/>
                <div class="pt-2">
                    <a @fade3000 href="" class="btn btn-button border-primary bg-white text-primary" style="width: 30vh">Register</a>
                </div>
            </div>            
        </div>       
    </div>
    <div class="row bg-light" style="height: 3vh;">
        <div class="col-12">
            <p></p>
        </div>
    </div>
    <div #target class="row text-center pb-4 bg-white ticky">
        <div class="col-12 bg-white">
            <p (click)="scroll(target)" class="btn btn-button bg-white" style="width: 100%;">How you can use it?</p>
        </div>
    </div>
    <div class="row bg-light"  style="height: 3vh;">
        <div class="col-12">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <img @flyInOutLeft src="https://via.placeholder.com/600"  class="text pt-5 slideRight pl-5" style="left: 100px;" alt="">
        </div>
        <div class="col-7">
            <div @flyInOutRight class="pt-5">
                <h1>Usecase 1</h1>
                <p>Description of usecase 1</p>
            </div>
        </div>
    </div>
    <img @flyInOutLeft src="https://via.placeholder.com/1000"  class="pt-5 slideRight pl-5" style="left: 100px;" alt="">
</div>


