<div class="container">
    <div class="row my-5">
        <div class="col-3">
            <img src="https://via.placeholder.com/200" class="img-thumbnail rounded-circle"/>       
        </div>
        <div class="col-9">                       
            <app-user-plate></app-user-plate>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">1 project</li>
                <li class="list-group-item">2 project</li>
                <li class="list-group-item">3 project</li>
                <li class="list-group-item">4 project</li>
                <li class="list-group-item">5 project</li>
            </ul>
        </div>
    </div>
</div>
