.card {
    width: 30em;
    margin: auto;
    padding: 2em;
    vertical-align: middle;
}

.form-signin-heading {
    text-align: center;
}

.login-container {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}