.Header {

    position: relative;
    background-image: url(https://s2.best-wallpaper.net/wallpaper/3840x2160/1705/Colorful-circles-glare-black-background_3840x2160.jpg);
    background-size: 100%;
}

/* .Header::before {
    position: absolute;
    display: block;

    content: '  ';
    margin-left: -99em;
    margin-right: -99em;
    height: 100px;
    width: 100%;
    background-color: aquamarine;
} */


.L:hover{
    text-decoration: none;

}

.Lin{
    border-radius: 15ch;
    text-align: center;
    height: 5ch;
    
}